* {
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    background-color: #fff;
}
section {
    margin-top: 10px;
}
label {
    margin-right: 10px;
    width: 120px;
    font-weight: bold;
}
input {
    width: 200px;
    border: 1px solid #ccc;
    font-family: Helvetica, sans-serif;
}
input[type="checkbox"] {
    width: auto;
    margin: 3px 0;
}
textarea {
    width: 200px;
    resize: none;
}
a {
    color: #0aa;
    text-decoration: none;
}
.content-to-capture {
    display: flex;
    max-width: 45vw;
    background-color: #fed;
    overflow: auto;
    padding: 20px;
    transition: 0.5s ease all;
}
.content-right {
    margin: 0 10px;
}
.gal-gadot-bio {
    margin-top: 0;
    font-size: 14px;
}
.form-row {
    display: flex;
    justify-content: flex-start;
}
.content-to-ignore {
    position: absolute;
    right: 0;
    width: 55vw;
    top: 0;
    height: 100vh;
    background-image: linear-gradient(135deg, #fff, #aaa);
    border-left: 1px solid #ddd;
    padding: 20px;
}
.btn {
    margin-right: 20px;
    height: 40px;
    padding: 10px;
    cursor: pointer;
}
.btn-copy {
    transition: 0.25s ease all;
}
.capture-result-text {
    outline: none;
    margin-top: 20px;
    width: 100%;
    height: 30vh;
    resize: none;
    overflow: auto;
    border: 1px solid #aaa;
    background-image: linear-gradient(135deg, #000, #444);
    color: #0aa;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 12px;
    line-height: 14px;
    transition: 0.25s ease all;
}
.capture-result-iframe {
    margin-top: 20px;
    width: 100%;
    height: calc(70vh - 120px);
    border: 1px solid #aaa;
    background-color: #fff;
    transition: 0.25s ease all;
}
.hidden {
    opacity: 0;
}
